body {
    text-align: center;
    color: white;
    font-style: initial;
    font-weight: bold;
    background: url("../img/time.jpeg") no-repeat;

}
#head {
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    margin-top: 3%;
}
div#banner {
    margin: 0 auto;
}

.class_1 {
    font-size: 17px;
    margin-top: 2%;
    width: 30%;
    height: 11%;
    margin-left: 8%;
}
.class_2 {
    padding-top: 20px;
    width: 100px;
    margin-left: 185px;
    margin-bottom: 10px;
}
.class_3 {
    width: 200px;
    margin-left: 200px;
    height: 25px;
}
select#Choosing_classes {
    width: 200px;
    height: 25px;
}
/*----------------------------------------------------*/
.input-group_1 {
    font-size: 17px;
    margin-top: 2%;
    width: 30%;
    height: 11%;
    margin-left: 8%;
}
.input-group_2 {
    padding-top: 20px;
    width: 100px;
    margin-left: 185px;
    margin-bottom: 10px;
}
.input-group_3 {
    width: 200px;
    margin-left: 200px;
    height: 25px;
}
input#name {
    width: 200px;
    height: 25px;
}
/*------------------------------*/
.problem_1 {
    font-size: 17px;
    margin-top: 2%;
    width: 30%;
    height: 11%;
    margin-left: 8%;
}
.problem_2 {
    padding-top: 20px;
    width: 300px;
    margin-left: 180px;
    margin-bottom: 20px;
}
.problem_3 {
    width: 546px;
    margin-left: 200px;
    height: 92px;
}
textarea#prolem_1 {
    width: 546px;
    height: 92px;
    resize: none;
}
/*------------------------------------------*/
.state_1 {
    font-size: 17px;
    margin-top: 2%;
    width: 30%;
    height: 11%;
    margin-left: 8%;
}
.state_2 {
    padding-top: 100px;
    width: 300px;
    margin-left: 160px;
    margin-bottom: 20px;
}
.state_3{
    width: 546px;
    margin-left: 200px;
    height: 92px;
}
textarea#state_1 {
    width: 546px;
    height: 92px;
    resize: none;
}

/*-------------------------------------*/
input[type="submit"] {
    margin-top: 200px;
    width: 130px;
    margin-left: 189px;
    height: 30px;
}